body {
    display: flex;
    font-family: sans-serif;
    height: 100vh;
    margin: 0;
}

#grid {
    background-color: lightgray;
    border: medium solid gray;
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: 
        "A A A B"
        "C C D E"
        "F . G E"
        "F H H E"
        "I J J K";
    height: 50vh;
    margin: auto;
    width: 50vh;
}

#grid > div {
    align-items: center;
    border: thin solid black;
    border-radius: 1em;
    justify-content: center;
    display: flex;
}

#grid > div::before {
    content: attr(id);
}

#lavender {
    background-color: lavender;
    grid-area: A;
}

#yellow1 {
    background-color: yellow;
    grid-auto-flow: B;
}

#plum {
    background-color: plum;
    grid-area: F;
}

#lightgreen1 {
    background-color: lightgreen;
    grid-area: C;
}

#yellow2 {
    background-color: yellow;
    grid-area: D;
}

#pink {
    background-color: pink;
    grid-area: E;
}

#yellow3 {
    background-color: yellow;
    grid-area: G;
}

#yellow4 {
    background-color: yellow;
    grid-area: K;
}

#coral {
    background-color: coral;
    grid-area: I;
}

#lightgreen2 {
    background-color: lightgreen;
    grid-area: H;
}

#lightgreen3 {
    background-color: lightgreen;
    grid-area: J;
}